*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("{% static 'img/ramen.jpg'%}");
    background-color: #cccccc;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    
}

.nav-box{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.type{
    list-style: none;
}

.logo-1{
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 500;
    list-style: none;
    color: white;
}

.nav-list{
    list-style: none;
    font-size: 2rem;
}

.nav-item{
    display: inline-block;
}

.nav-link:visited,
.nav-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2sec ease;
}

.nav-link:hover{
    background-color: blueviolet;
    border-radius: 250px;
    color: white;
}

.nav-on:visited,
.nav-on:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 3px blueviolet;
    border-radius: 250px;
    box-shadow: 0 0 4rem rgb(221, 255, 0);
    text-shadow: aqua;
    transition: all .5s ease;
}

.nav-on:hover{
    background-color: blueviolet;
    color: palegreen;
}

.hamburger{
    height: 5rem;
    width: 5rem;
    display: none;
}

.hamburger div{
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
    margin: 1rem;
}

.body-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary{
    color: white;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 4px;
}

#ramen{
    color: rgb(221, 255, 0);
    font-weight: 850;
    font-size: 8rem;
}



/* MENU */

.menu{
    width: 100%;
    padding: 8rem 5rem;
    
}

.menu-header{
    font-size: 5rem;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 1.5rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.menu-image{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-image: url("/IMG/ramen.jpg");
}

.menu-box{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-box:hover{
    transform: scale(1.03);
}

.menu-para{
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.menu-title{
    font-size: 4rem;
    text-align: center;
}

.cost{
    font-size: 3.5rem;
    margin-top: 1rem;
    text-align: center;
}